body {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-weight: 700;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar {
  background-color: #1D4289;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  padding-left: 1rem;
}

.nav-link {
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #163A70;
  color: #FFFFFF;
}

.navbar-nav {
  align-items: center;
  justify-content: space-between;
}

.nav-item:nth-child(1), .nav-item:nth-child(2) {
  margin-right: 33%;
}

.input-group {
  padding: 1rem;
  background-color: #1D4289;
}

.table {
  margin-top: 0;
}

.table thead {
  background-color: #1D4289;
  color: white;
}

.table th, .table td {
  padding: 12px;
  vertical-align: middle;
}

.table th {
  background-color: #757575;
  color: white;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table td {
  background-color: #FFFFFF;
}

.pagination {
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination .page-link {
  color: #1D4289;
}

.pagination .active .page-link {
  background-color: #888888;
  color: white;
}

.btn-primary {
  background-color: #1D4289;
  border: none;
  margin: 1rem 0;
  width: 10rem;
  vertical-align: middle;
}

.btn-primary:hover {
  background-color: #163a70;
}

.custom-select {
  background-color: #fff;
  padding: 0;
  width: 10rem;
}

.bi-chevron-left, .bi-chevron-right {
  width: 48;
  height: 48;
}

.attribute-information {
  background-color: #1D4289;
  color: #FFFFFF;
}

.p-attribute-information {
  margin: 1rem 1rem 0 1rem;
}

.s-attribute-information {
  margin-right: 1rem;
}


@media (width <= 991px) {
  .nav-item:nth-child(1), .nav-item:nth-child(2) {
    margin-right: 0;
  }
}